<style>
	#co-chat{
		width: 100%;
		max-width: 600px;
		border: 1px solid #ccc;

	}
	.message{
		overflow: hidden;
		margin-bottom: 10px;
	}
	#return{
		display: block;
		margin-bottom: 5px;
	}
</style>
<a href="#/" id="return">Volver</a>
<input type="text" ng-model="new_message.content" />
<button type="button" ng-click="save()">Enviar</button>
<div id="co-chat">
	<div ng-repeat="message in messages" class="message">
		<div ng-class="{ 'fl-l': message.float == 'left' , 'fl-r':  message.float == 'right' }">{{message.content}}</div>
	</div>
</div>